.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  padding: 2px 20px;
  border-radius: 12px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.75px;

  color: #000;
  background-color: #fff;

  cursor: pointer;
  z-index: 0;
  background-clip: padding-box;
  transition: background-color 0.2s ease;
}

.button.default {
  color: #fff;
  background-color: #ff0000;
}

.button.default:hover {
  background-color: #F11548;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.25px;
  border-radius: 12px;

  background: linear-gradient(90deg, #F47274, #DB272A);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  z-index: -1;
  transition: background 0.2s ease;
}

.button:hover::before {
  background: linear-gradient(90deg, #EC484B, #BE181B);
}
